{% extends 'pages/base.html' %}
{% load static %}

{% block slider %}
<div class="home-slider">
    <!-- partial:index.partial.html -->
    <div class="hero-slider" data-carousel>

        <div class="carousel-cell" style="background-image:url({% static 'images/commons/slider-bg-7.jpg' %});">
            <div class="overlay"></div>
            <div class="container slider-caption">
                <h5 class="subtitle">Brighten your house or office</h5>
                <h1>We have wire range of colours</h1>
                <p>We import different colours that have been mixed with specail technology, Hence cover quality and beauty</p>
                <a class="btn btn-default btn-outline" href="about-us.html" role="button">LEARN MORE</a>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="carousel-cell" style="background-image:url({% static 'images/commons/slider-bg-8.jpg' %});">
            <div class="overlay"></div>
            <div class="container slider-caption">
                <h5 class="subtitle">Need heavy machinery </h5>
                <h1>We have variety of machines</h1>
                <p>From drilling machines, electronic equipments and much more</p>
                <a class="btn btn-default btn-outline" href="about-us.html" role="button">LEARN MORE</a>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="carousel-cell" style="background-image:url({% static 'images/commons/slider-bg-9.jpg' %});">
            <div class="overlay"></div>
            <div class="container slider-caption">
                <h5 class="subtitle">Farming with nature</h5>
                <h1>Bringing growth to agriculture</h1>
                <p>Promoting the continuous improvement of human and technological resources generating
                    competitive profitability.</p>
                <a class="btn btn-default btn-outline" href="about-us.html" role="button">LEARN MORE</a>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- partial -->
</div>
{% endblock slider %}

{% block content %}
<!-- CONTENT START -->
<section>

    <!-- INFO SECTION START -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="why-us-info-alt">
                    <h2>Statement from Managing Director</h2>logo
                    <p>AMIREX COMPANY LIMITED is well aware of Safety, Quality and Schedule being the main
                        elements of measuring the success of any business and as such we are committed to the
                        aforementioned to maintain and increase the clients and our reputation.</p>
                    <p>I would like to take this opportunity to call up our esteemed employees, customers, consultants,
                        stakeholders and partners to keep on working together and contribute their level best towards the
                        achievement of our Company’s core objectives so that on AMIREX COMPANY LIMITED
                        becomes one of the most preferred company operating in the sector.</p>
                    <p>If there is any quality products that needs to be supplied , you can always count on AMIREX
                        COMPANY LIMITED to attend it.</p>
                    <p><strong>Yours Sincerely, <br>
                        Abassy Ally Mbonga, <br> Managing Director
                    </strong></p>
                    <figure class="signature">
                        <img src="{% static 'images/commons/signature.jpg' %}" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 spacing-md">
                <figure class="why-us-about">
                    <img src="{% static 'images/commons/md.jpg' %}" alt="">
                    <div class="image-badget">
                        <figure class="ib-icon">
                            <img src="{% static 'images/icons/medal.png' %}" alt="">
                        </figure>
                        <h4>Our Values</h4>
                        <p>Quality, Safety, Integrity, Resourcefulness, Profitability, Customers satisfication, Economic inclusion and diversity, Innovation and Socail responsibility</p>
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <!-- INFO SECTION END -->

    <!-- PRODUCT CAROUSEL START -->
    <div class="services-layer mb-5">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <h3>We specialized in the
                    Import & Exports</h3>
                <p>Amirex company Limited is one of Tanzania’s largest supplier company, mainly in Import & Exports: of
                    Decoration paints,
                    Wood working tools, Agriculture and machinery & Farming Equipment’s, Electronic equipment’s, Water
                    wells Drilling and Machinery,
                    Honey and beers Wax, and Medical supplies services. Our focus is to control quality and risk for our
                    clients while delivering an
                    outstanding product in a professional and timely manner. Amirex company Limited ensures that the
                    main issues of supply,
                    quality and time, are never a concern for our clients as we work with you to ensure all your needs
                    are met.</p>
            </div>
            <div class="col-row">
                <div class="col-md-12 col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/wheat.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Decoration Paints</h4>
                                        <p>Wheat as well as livestock updates on cattle rops and livestock from
                                            Black producers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init aos-animate" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/carrot.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Wood working tools</h4>
                                        <p>Crop and white farmers got most of the acreage allotments, which were
                                            seemed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/fruits.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Agricultural Machinery & Farming
                                            Equipment’s</h4>
                                        <p>Agriculture becomes more digitized, cybersecurity and data privacy
                                            remain.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/cow.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Water wells Drilling and Machinery</h4>
                                        <p>Farmer’s data is managed is a journey all of agriculture is a part of
                                            beef up our efforts.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/tractor.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Electronic Equipments</h4>
                                        <p>We have a security checkpoint that asks if all procedures back for
                                            further development.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/barn.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Agricultural products</h4>
                                        <p>Grass widely cultivated for its seed, a cereal grain which is a
                                            worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/barn.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Electrical Hardware and electronics material</h4>
                                        <p>Grass widely cultivated for its seed, a cereal grain which is a
                                            worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
                            <div class="service-box">
                                <div class="media">
                                    <img src="{% static 'images/icons/barn.png' %}" class="mr-3 sb-icon" alt="...">
                                    <div class="media-body sb-caption">
                                        <h4>Mine cutting machinery, Honey and beers
                                            wax and medical supplies</h4>
                                        <p>Grass widely cultivated for its seed, a cereal grain which is a
                                            worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- CONTENT END -->
{% endblock content %}